body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  text-align: center;
}

nav a {
  background-color: rgb(225, 225, 225);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  font-size: 10pt;
  text-align: center;
}

#featured-property p {
  width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#details {
  display: block;
  background-color: red;
}

#details div {
  float: left;
}

